@font-face {
    font-family: 'Circe';
    src: url("../font/Circe - Regular/Circe-Regular.ttf");
}

@font-face {
    font-family: 'Gilam';
    src: url("../font/Gilam/Gilam-BlackDEMO.ttf");
}

body, html {
    max-width: 1920px;
    max-height: 4000px;
    margin: 0 auto;
    background: #171717;
}

.contacts {
    max-width: 1460px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
}

.contacts__logo {
    width: 216px;
    height: 33px;
    background: url("../img/sk_logo_2.png") top left no-repeat;
}

.tel-conteiner {
    display: flex;
    align-items: center;
}

.contacts__tel {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    padding-right: 39px;
}

.contacts-tel__country-code {
    color: #D6AF76;
}

.contacts__button {
    max-width: 218px;
    max-height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-button__img {
    height: 13px;
    width: 13px;
    background: url("../img/button_img.png") no-repeat;
}

.button_text {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding-left: 10px;
}

.info-page {
    background: url(../img/header-bg.jpeg) no-repeat;
    background-size: cover;
    max-width: 1920px;
    max-height: 100%;
    margin: 0 auto;
}

.tittle-wrapper {
    max-width: 1460px;
    height: 100%;
    margin: 0 auto;
    padding-top: 110px;
    margin-top: 10px;
}

.info-title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.info-text {
    max-width: 1182px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 41px;
}

.info-blocks {
    max-width: 1460px;
    height: 963px;
    margin: 0 auto;
    padding: 0;
    margin-top: 41px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-items: stretch;
    justify-content: space-between;
    align-content: space-evenly;
    padding-bottom: 131px;
}

.info-blocks__block-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-blocks__block1 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #634F2C;
}

.info-blocks__block2 {
    grid-column: span 2;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #B4A385;
}

.info-blocks__block3 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #E4B564;
}

.info-blocks__block4 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #635A4A;
    grid-column: span 2;
}

.info-blocks__block5 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #B08C4D;
    grid-column: span 2;
}

.autopark {
    max-width: 1460px;
    height: 963px;
    margin: 0 auto;
    background: #171717;
    margin-top: 30px;
}

.autopark__title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 94px;
}

.autopark-blocks {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 897px;
    flex-wrap: wrap;
    background: #171717;
}

.autopark-blocks__block-item {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
}

.autopark-blocks__block_1 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #0E0E0E;
    height: 313px;
    margin-bottom: 24px;
}

.auto {
    width: 302px;
    margin: 44px 52px;
}

.autopark-blocks__block_2 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #1F1F1F;
    height: 560px;
}

.autopark-blocks__block_3 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #242424;
    height: 439px;
    margin-left: 30px;
}

.autopark-blocks__block_4 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    background: #E4B564;
    height: 405px;
    margin-left: 29px;
    margin-top: 33px;
}

.autopark-blocks__block_5 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #1F1F1F;
    height: 255px;
    margin-left: 29px;
    margin-bottom: 26px;
}

.autopark-blocks__block_6 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #0E0E0E;
    height: 313px;
    margin-left: 29px;
    margin-bottom: 26px;
}

.autopark-blocks__block_7 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #0A0909;
    height: 277px;
    margin-left: 30px;
}

.clients-projects {
    width: 1920px;
    height: 100%;
    margin: 0 auto;
    background: url(../img/parallax-bg.jpeg);
    background-size: cover;
    margin-top: 191.19px;
    margin-bottom: 238.81px;
}

.projects-container {
    max-width: 1460px;
    height: 100%;
    margin: 0 auto;
}

.projects-title__container {
    max-width: 1460px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 161px;
    margin-bottom: 71px;
}

.clients-projects__title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.project__button {
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-button__text {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

.clients-projects__blocks {
    max-width: 1460px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 391px 391px;
}

.clients-item1 {
    background: #634F2C;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.clients-item2 {
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.clients-item3 {
    background: #E4B564;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.clients-item4 {
    background: #635A4A;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.clients-item5 {
    background: #B08C4D;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.clients-item6 {
    background: #634F2C;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.projects-text-hover {
    max-width: 326px;
    max-height: 0;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    opacity: 0;
    transition: max-height, opacity 3s 0s;
}

.clients-projects-item:hover .projects-text-hover {
    max-height: 140px;
    opacity: 1;
}